<div data-role='header'>
  <h1>Rides</h1>
  <%= link_to 'Add', new_ride_path, "data-icon" => "plus", "class" => "ui-btn-right", "data-iconpos"=>"notext" %>
</div>

<div data-role='content'>
  <ul data-role='listview'>
    <% @rides.each do |ride| %>
      <li>
      <%= link_to ride.title, ride %>
      <%= link_to 'Edit', edit_ride_path(ride), "data-icon" => "gear" %>
      </li>
    <% end %>
  </ul>
</div>
